*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #9C835F;
  height: 100%;
}

h1,h2,h3{
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
}


/* Navbar */
nav{
  padding: 20px 37px;
  display: flex;
  flex-direction: row;
}

nav .logo{
  padding: 0 35px;
}

nav .logo img{
  width: 65px;
}

nav .back .fas{
  font-size: 50px;
  color: #724C21;
  padding-top: 10px;
}

nav p{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  color:#F9B23D;
  padding-top: 10px;
}
/* End of Navbar */
/* Main Section: The Games */
.container{
  padding: 0 11rem;
}

main .game{
  padding: 0 10rem ;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

main .game .info-board{
  display: flex;
  width: 250px;
  flex-direction: column;
  align-self: center;
}

main .game #player, main .game #computer, main .game .info-board{
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

main .game h2{
  letter-spacing: 5px;
  font-size: 2em;
  padding: 0.5em 0;
}

main .game img{
  /* padding: 15px; */
  margin: 0.2em;
  display: inline-block;
}

main img.rock{
  width: 150px;
  padding: 30px 30px;
}

main img.paper{
  width: 150px;
  padding: 20px 40px;
}

main img.scissors{
  width: 150px;
  padding: 20px 35px;
}
main .game img.image-paper{
  padding: 10px 18px;
}

#player .rock:hover,#player .paper:hover, #player .scissors:hover{
  background-color: #c4c4c4;
  border-radius: 30px;
  cursor: pointer;
}

main .restart{
  display: flex;
  justify-content: center;
}

main .restart img{
  width: 55px;
  cursor: pointer;
}

/* classes for DOM */
.pick{
  background-color: #c4c4c4;
  padding: 14px;
  border-radius: 30px;
}

.disabled{
  background-color: transparent;
}

.board{
  width: 210px;
  height: 120px;
  padding: 1em 0.5em;
  text-align: center;
  line-height: 2.3rem;
  letter-spacing: 4px;
  border-radius: 10px;
  transform: rotate(-28.87deg);
}

.result{
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
}

.vs{
  font-size: 6.3em;
  font-weight: bold;
  color:#BD0000;
  letter-spacing: 5px;
}


/* End of Main Section: The Games */
@media(max-width: 1024px){
  .container{
    padding: 0 3rem;
  }
}
@media(max-width: 768px){
  .container{
    padding: 0;
  }

  main .game{
    padding: 0 5rem;
  }
}
@media(max-width: 425px){
  nav{
    padding: 20px 10px;
  }
  nav p{
    font-size: 1.3em;
  }

  main img.rock{
    width: 120px;
  }

  main img.paper{
    width: 120px;
  }

  main img.scissors{
    width: 120px;
  }

  main .game h2{
    font-size: 1.2em;
  }
  
  .result{
    font-size: 1em;
  }

  .board{
    width: 100px;
    height: 100px;
  }
}